html,
body {
  height: 100%;
  margin: 0;
}
#map {
  height: 100%;
  width: 100%;
}

a {  		
  text-decoration:none;    	
  }
  
/* Style for Leaflet Popup */
.leaflet-popup-content-wrapper {
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    color: #333;
}

.leaflet-popup-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.leaflet-popup-content a {
    color: blue; /* Link color */
}

.leaflet-popup-content a:hover {
    text-decoration: underline; /* Underline link on hover */
}
